/node_modules
/public/hot
/public/storage
/public/pages
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/*.key
.env
.xlsx
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
laravel-echo-server.json
.vscode/*
storage/app/.DS_Store
